.header-container {
    border: solid 3px red;
    background: black;
    display: flex;
    justify-content: space-between;
}

.body-container {
    background: #529cf1;
}

.body-container div {
    color: white;
}

.body-container button {
    background-color: #26B758;
    color: white;
    width: 200px;
    border: 3px solid #26B758;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
}

.header div {
    height: 200px;
}

.logo {
    height: 200px;
}

.menu-icon {
    height: 200px;
}

body {
    font-family: 'Roboto', sans-serif
}